/********** CSS général **********/

@font-face{ 
	font-family: 'MyWebFont';
	src: url('polices/sawarabi-mincho-medium-webfont.eot');
	src: url('polices/sawarabi-mincho-medium-webfont.eot?iefix') format('eot'),
		url('polices/sawarabi-mincho-medium-webfont.woff') format('woff'),
		url('polices/sawarabi-mincho-medium-webfont.ttf') format('truetype'),
		url('polices/sawarabi-mincho-medium-webfont.svg#webfont') format('svg');
	font-weight: normal;
	font-style: normal;
}

@media screen {
	/**** Général ****/
	html {
		height: 100%;
	}
	
	body {
		background-image: url("../images/archer.png");
		background-repeat: no-repeat;
		background-position: center top;
		background-attachment: fixed;
		color: #FFF;
		font-family: 'MyWebFont';
		margin: 0;
		min-height: 100%;
		display: flex;
		flex-direction: column;
	}

	a {
		color: #0000ff;
		text-decoration: none;
	}

	a:hover {
		color: #252588;
		font-style: oblique;
	}


	/**** Social ****/
	.social {
		position: fixed;
		top: 100px;
		right: 10px;
	}

	.social img {
		width: 30px;
		padding: 5px;
	}


	/**** En tête ****/
	header {
		text-align: center;
		background: rgba(241, 206, 3, 1);
		padding-top: 15px;
	}

	/* Titre */
	header h1 {
		margin: 0;
		color: rgba(120, 45, 68, 1);
		font-style: oblique;
		text-shadow: 2px 2px 2px #ff0000;
	}

	.sitef1, .sitef2 {
		height: 25px;
	}

	.sitef1 {
		transform: rotate(90deg);
	}

	/* Image de séparation */
	header img {
		height: 100px;
	}

	/* Menu */
	header nav ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
		display: flex;
		flex-direction: inline;
		justify-content: center;
		flex-wrap: wrap;
	}
	
	header nav ul li {
		background: linear-gradient(#000, #717171);
		box-shadow: 2px 2px 2px #ff0000;
		width: 200px;
		height: 40px;
		line-height: 40px;
	}
	
	header nav > ul > li:not(:last-child) {
		border-right: 1px solid #fff;
	}
	
	header nav ul li a {
		display: block;
		color: #fff;
	}

	header nav ul li a:hover {
		color: #fff000;
		background: #000;
	}

	.sous_menu:hover, .sous_menu ul:hover {
		background: #000;
		cursor: pointer;
	}

	header nav ul li ul li {
		display: none;
		background: black;
	}

	header nav ul li:hover ul li {
		display: flex;
		flex-direction: column;
		z-index: 999;
	}

	header nav ul li ul li a:hover {
		background: #3f3f3f;
	}

	/**** Div général ****/
	main {
		background: rgba(0, 0, 0, 0.75);
		width: 80%;
		margin: 25px auto;
		padding: 15px;
		flex: 1;
		display: flex;
		flex-direction: row-reverse;
	}
	
	.principal {
		flex: 1;
	}

	main section h2 {
		background: rgba(235, 31, 31, 0.75);
		padding: 10px;
		margin: 0;
	}

	main section article {
		background: rgba(31, 130, 200, 0.95);
		padding: 15px;
	}

	.aside {
		background: rgba(124, 124, 124, 0.9);
		width: 20%;
		height: 400px;
		border: 3px solid green;
/* float:  right; */
		padding: 10px;
		margin-left: 15px;
		border-radius: 5% / 10%;
	}

	.aside h4 {
		margin: 0;
	}

	.aside img {
		width: 40px;
		padding: 5px;
	}


	/**** Pied de page ****/
	footer {
		background: #1a1a1a;
		text-align: center;
		padding: 15px;
	}

	footer h2 {
		margin: 5px;
	}

	footer img {
		width: 40px;
		padding: 5px;
	}

	footer a {
		color: #4850ff;
		text-decoration: none;
	}

	footer a:hover {
		color: #8870c4;
	}

	footer p {
		margin: 0;
	}
}

@media screen and (max-width: 1280px) {
	main {
		width: 90%;
	}
}

@media screen and (max-width: 1024px) {
	header img {
		height: 75px;
	}
	
	main {
		width: 95%;
		margin: 10px auto;
	}
}

@media screen and (max-width: 800px) {
	header img {
		height: 60px;
	}
	
	main {
		width: 95%;
		margin: 5px auto;
		flex-direction: column-reverse;
	}
	
	.aside {
        flex: 1;
        width: auto;
		margin-top: 15px;
		margin-left: 0;
		border-radius: 0;
	}
}

@media screen and (max-width: 500px) {
	header img {
		height: 35px;
	}
}
