/********** CSS des pages des photos en taille réel *********/

main figure {
	text-align: center;
}

main figure figcaption {
	color: #d4ea17;
	background: #000;
	padding: 5px;
}

main img {
	max-width: 100%;
}

main section article p a {
	height: 30px;
	width: 100px;
	line-height: 30px;
	color: black;
	padding: 5px;
	background: linear-gradient(rgba(255, 255, 255, 1), rgba(200, 200, 200, 1), #928d8d);
	border: 2px solid #666666;
	text-align: center;
	transition-duration: 0.5s;
}

main section article p a:hover {
	color: red;
	border: 2px solid red;
	font-style: normal;
}
