/********** CSS de la page "Nos photos" *********/

main div section img {
	width: 150px;
	height: 150px;
	border: solid black;
	transition-duration: 1s;
	filter: sepia(100%);
}

main div section img:hover {
	filter: sepia(0%);
}

main div section a:hover::after {
	content: attr(title);
	color: red;
	position: absolute;
	display: block;
}
