/********** CSS de la page "Planning" *********/

@media screen {
	table {
		border-collapse: collapse;
		border: 5px solid #000;
		margin: auto;
	}
	
	table caption {
		font-size: 30px;
		background: #000;
		padding: 5px;
	}

	table th, table td {
		border: 3px solid #000;
	}

	table th {
		background: grey;
	}

	table td {
		background: #bb471f;
	}
	
	table img {
		max-width: 100px;
	}
}

@media print {
	header, .social, .aside, footer {
		display: none;
	}
	
	main {
		text-align: center;
	}

	table {
		border-collapse: collapse;
		border: 5px solid #000;
		margin: auto;
	}
	
	table caption {
		font-size: 30px;
		border: 5px solid #000;
		border-bottom: 0;
	}

	table th, table td {
		border: 3px solid #000;
	}

	table img {
		display: none;
	}
}
