/********** CSS de la page "Tarifs" *********/

table {
	border-collapse: collapse;
	border: 5px solid #000;
	margin: auto;
}

table caption {
	font-size: 30px;
	background: #000;
	padding: 5px;
}

table th, table td {
	border: 3px solid #000;
}

table th {
	background: grey;
}

table td {
	background: #bb471f;
}
